---
---
@import "uno";
@import "tables";
@import "monokai";

/* Modifications */

.content-wrapper__inner{
  margin: 0 6%;
  padding: 50px 0;
}

pre.highlight,
.highlight pre {
  padding: 10px;
}

pre.highlight code,
.highlight pre code {
  white-space: pre-wrap;
}

.btn,
.navigation__item a {
  margin: 5px 0;
  white-space: nowrap;
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

.categories, .tags{
  border-bottom: #CCC 1px dotted;
  padding-bottom: 30px;
  text-align: center;
}

.categories a,
.tags a {
  border: 1px solid #e25440;
  border-radius: 20px;
  color: #e25440;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
}

.post-meta__tags {
  font-size: 12px;
  padding: 0 5px;
}

.footer__copyright {
    margin: 0 20px 10px;
}

.user-image {
  margin-bottom: 1.2em;
  position: relative;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius:100%;
}

.post-img {
  border: 1px solid #CCC;
  margin: 1em 0; 
  -webkit-box-shadow: 7px 7px 12px -6px rgba(56,55,56,0.82);
  -moz-box-shadow: 7px 7px 12px -6px rgba(56,55,56,0.82);
  box-shadow: 7px 7px 12px -6px rgba(56,55,56,0.82);
}


h1, h2, h3, h4, h5, h6{
  line-height: 1.1em;
  letter-spacing: 0em;
}

h3, h4, h5, h6{
  font-weight: 400;
}

h1 {
  font-size: 2.8em;
}

h3{
  font-size: 1.6em;
}

.post-header a h3{
  color: #e25440; 
  font-weight: 400;
}